.animal-list {
   

    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            text-align: center;
            padding: 5px;
            border: 1px black solid;

        }
    }
}