.watchers {
    display: grid;
    place-self: center;

    width: 80vw;

    padding: 10px 2px;
    gap: 10px;

    border: 1px solid black;

    button {
        place-self: center;
    }

    .watchers-preview-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        grid-auto-flow: dense;

        place-items: center;
        gap: 5px;
    }
}

dialog {
    form {
        min-width: fit-content;
        display: grid;
        place-items: center;
        gap: 10px;


        label {
            display: grid;

            width: 100%;

            input {
                text-align: center;
            }
        }

        .actions {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
    }
}