<section class="watchers">
    <button (click)="onAddWatcher($event)">Add Watcher</button>
    <section class="watchers-preview-list">
        <watcher-preview *ngFor="let watcher of watchers; let idx = index" (RemoveWatcher)="RemoveWatcher($event)"
            (click)="onSelectWatcher(watcher)" [watcher]="watcher">
        </watcher-preview>
        <h4 class="no-watchers" *ngIf="!watchers.length">No Watchers To Show</h4>
    </section>
    <dialog #watcherDialog>

        <form (submit)="onSaveWatcher($event,InputName,moviesInput)" *ngIf="emptyWatcher">
            <label for="fullname">
                <h4>Watcher's Name</h4>
                <input #InputName placeholder="watcher Full name" class="watcher-fullname" type="text" name="fullname">
            </label>

            <label for="movie">
                <h4>Witch Movies Do He Watch</h4>
                <input #moviesInput placeholder="place , between each movie" class="watcher-fullname" type="text"
                    name="movie">
            </label>

            <section class="actions">
                <button type="submit">Save</button>
                <button type="button" (click)="onCloseDialog($event)">Close</button>
            </section>
        </form>

        <div *ngIf="selectedWatcher">
            <h4 class="fullname">{{selectedWatcher.fullname}}</h4>
            <ul class="movies">
                <li *ngFor="let movie of selectedWatcher.movies;let idx = index">{{selectedWatcher.movies[idx]}}</li>
            </ul>
            <button (click)="onCloseDialog($event)">Close</button>
        </div>
    </dialog>

    <div class="loading" *ngIf="isLoading; else dataTemplate">
        <h4>Loading...</h4>
    </div>
    
    <ng-template #dataTemplate>
        <h4>Data Loaded Successfully</h4>
    </ng-template>

</section>