.main-container {
    display: grid;
    justify-items: center;

    height: 90vh;
    max-width: 95vw;

    padding: 1em;

    background-color: gray;

    border-radius: 1vh;
    border: 1px black solid;

    h4 {
        margin: 5px;
        text-align: center;
        text-decoration: underline dashed black;
        text-underline-offset: 5px;
    }


    button {
        display: grid;
        width: fit-content;
        border-radius: 1vh;
    }
}