.main-container {
    display: grid;
    max-width: 95vw;

    gap: 10px;
    padding: 1em;

    background-color: gray;

    border-radius: 1vh;
    border: 1px black solid;

    h4 {
        margin: 5px;
        text-align: center;
        text-decoration: underline dashed black;
        text-underline-offset: 5px;
    }


    button {
        display: grid;
        width: fit-content;
        border-radius: 1vh;
    }

    .main-content{
        display: grid;
        gap: 10px;
        justify-content: center;
    }
}
